<!-- extend from base.html -->
{% extends "base.html" %}
{% block content %}
{% from "_formhelper.html" import render_field %}
    <h1>用户注册</h1>
    <form action="" method="post" name="Register">
        {{ form.hidden_tag() }}
        <dl>
            {{ render_field(form.mobile) }}
            {{ render_field(form.name) }}
            {{ render_field(form.age) }}
            {{ render_field(form.gender) }}
        </dl>
        <p><input type="submit" value="注册"></p>
    </form>
{% endblock %}
