{% extends "base.html" %}
{% block content %}
    {% if not user.is_anonymous %}
      <h1> Hello, {{ user.nickname }}! </h1>
    {% endif %}
    {% include 'posting.html' ignore missing %}
    {% include 'post.html' ignore missing %}
    <p>
    {% if posts.has_prev %}<a href = "{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; {{ _('Newer Posts') }}</a>{% else %}&lt;&lt; {{ _('Newer Posts') }}{% endif %} | 
    {% if posts.has_next %}<a href = "{{ url_for('index', page=posts.next_num) }}">{{ _('Older Posts') }}&gt;&gt;</a>{% else %}{{ _('Older Posts') }}&gt;&gt;{% endif %}
    </p>
{% endblock %}
